# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
**/logs/
*.log

# IntelliJ
.idea/
*.iml
*.iws
out/

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.local

# Build
*.war
*.jar
*.zip

# Others
node_modules/


/generated-client/